@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.al-center{
  align-items: center;
  justify-items: center;
}

.bg-ac{
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  background-image:linear-gradient(white,rgba(120, 170, 255, 0.673));
  background-attachment: fixed;
}

.btn {
  transition: ease-in-out .3s;
  background: linear-gradient(
    92.23deg,
    #00bfff 21.43%,
    #36a7fd 50.63%,
    #21dbc5 100%,
    #28ff85 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 205, 252, 0.51);
}

.btn:hover { 
  scale:102%;
  background: linear-gradient(
    92.23deg,
    #00bfff 21.43%,
    #36a7fd 50.63%,
    #21dbc5 100%,
    #28ff85 117.04%
  );
}


.gradient,

.active {
  opacity: 40%;
  background: linear-gradient(
    92.23deg,
    #00bfff 21.43%,
    #36a7fd 50.63%,
    #21dbc5 100%,
    #28ff85 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.f-anupan{
  font-family: 'Anuphan', sans-serif;
}



@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 flex items-center;
  }
}


/*profile*/
.profile-img {
  position: relative;
  width: 280px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}




.profile-img .profile {
  background-size:cover ;
  background-color: #666666;background-image: url('./assets/img-profile.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 6px;
  z-index: 2;
}


.profile-img .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.profile-img:hover .content {
  transform: scale(1);
  bottom: 25px;
}

